* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  text-align: center;
  width: 100%;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 196, 121);
  padding: 20px;
}

.iconosHeader {
  display: flex;
  list-style: none;
  font-size: 1rem;

}

.iconosHeader li {
  margin-right: 10px;
}

.contenedor {
  padding: 50px 20px;
  justify-content: center;
  align-items: center;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  box-shadow: 0px 0px 10px 0px;
  width: 200px;
  border-radius: 10px;
}
